<mat-horizontal-stepper linear="true" #stepper="matHorizontalStepper">
  <mat-step [stepControl]="informationFormGroup">
    <form [formGroup]="informationFormGroup">
      <ng-template matStepLabel>Información</ng-template>
      <mat-form-field>
        <input maxlength="35" #eventNameInput matInput placeholder="Nombre" formControlName="eventName" required>
        <mat-hint align="end">{{eventNameInput.value?.length || 0}}/35</mat-hint>
      </mat-form-field>
      <mat-form-field>
  <textarea matInput matTextareaAutosize placeholder="Descripción" formControlName="description"
            matAutosizeMaxRows="5" #descNameInput required maxlength="140"></textarea>
        <mat-hint align="end">{{descNameInput.value?.length || 0}}/140</mat-hint>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Url de la foto" formControlName="photoUrl">
      </mat-form-field>
      <mat-form-field>
        <input matInput formControlName="date" placeholder="Fecha del evento" [matDatepicker]="myDatepicker"
               [min]="minDate" [max]="maxDate"
               required (dateChange)="setMyDate($event)" (focus)="myDatepicker.open()">
        <mat-datepicker-toggle matSuffix [for]="myDatepicker"></mat-datepicker-toggle>
        <mat-datepicker #myDatepicker touchUi="true" startView="month" [startAt]="this.minDate"></mat-datepicker>
      </mat-form-field>
      <mat-form-field>
        <input formControlName="hour" name="hour" matInput placeholder="Hora de realización" type="time">
      </mat-form-field>
      <div>
        <button mat-flat-button [disabled]="this.informationFormGroup.invalid" matStepperNext>Siguiente</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="placeIdFormGroup">
    <form [formGroup]="placeIdFormGroup">
      <ng-template matStepLabel>Lugar</ng-template>
      <mat-form-field>
        <input matInput ngx-google-places-autocomplete placeholder="Busca el lugar del evento" formControlName="placeId"
               required [options]="{types: ['establishment'],componentRestrictions:{country:'ES'}}"
               #placesRef="ngx-places" (onAddressChange)="onChange($event)" placeholder="Ubicación">
        <mat-icon matSuffix>search</mat-icon>
      </mat-form-field>

      <div>
        <button mat-button matStepperPrevious>Atrás</button>
        <button mat-button matStepperNext>Siguiente</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="invitedsFormGroup">
    <form [formGroup]="invitedsFormGroup">
      <ng-template matStepLabel>Grupo invitado</ng-template>
      <div *ngIf="this.isLoading; else myList">
        Cargando
      </div>
      <ng-template #myList>

        <mat-form-field>
          <input matInput placeholder="Nombre del grupo" formControlName="groupName" required
                 (ngModelChange)="filterGroups($event)">
        </mat-form-field>
        <mat-list role="list" class="lista">
          <h3 matSubheader>Mis grupos</h3>
          <mat-list-item class="assistant-item" *ngFor="let g of autocompleteGroups"
                         (click)="onClickGroup(g._id, g.name)">

            <img *ngIf="g.image.length < 1; else imgGroup"
                 src="https://www.shareicon.net/download/2017/01/06/869210_party.ico" matListAvatar #imgGroup>
            <ng-template #imgGroup>
              <img src="{{g.image}}" matListAvatar>
            </ng-template>
            <h3 matLine> {{g.name}} </h3>
            <p matLine>
              <span> {{g.users.length}} </span>
            </p>
          </mat-list-item>

        </mat-list>
      </ng-template>
      <div>
        <button mat-button matStepperPrevious>Atrás</button>
        <button mat-button matStepperNext [disabled]="this.groupId === ''">Siguiente</button>
      </div>
    </form>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Resumen</ng-template>


    <mat-card class="z-depth-3">
      <mat-list>
        <mat-list-item>
          <mat-icon>mode_edit</mat-icon>
          <h3 mat-line>Nombre del evento</h3>
          <p mat-line>
            <span>{{this.informationFormGroup.controls?.eventName?.value}}</span>
          </p>
        </mat-list-item>

        <mat-list-item>
          <mat-icon>insert_comment</mat-icon>
          <h3 mat-line>Descripción</h3>
          <p mat-line>
            <span>{{this.informationFormGroup.controls?.description?.value}}</span>
          </p>
        </mat-list-item>

        <mat-list-item>
          <mat-icon>insert_photo</mat-icon>
          <h3 mat-line>Enlace de foto</h3>
          <p mat-line>
            <a>{{this.informationFormGroup.controls?.photoUrl?.value}}</a>
          </p>
        </mat-list-item>
        <mat-list-item>
          <mat-icon>event_note</mat-icon>
          <h3 mat-line>Fecha y hora</h3>
          <p mat-line>
            <span>{{this.parseDateToStr()}}</span>
          </p>
        </mat-list-item>
        <mat-list-item>
          <mat-icon>place</mat-icon>
          <h3 mat-line>Lugar</h3>
          <p mat-line>
            <span>{{this.addressName}}</span>
          </p>
        </mat-list-item>
        <mat-list-item>
          <mat-icon>people</mat-icon>
          <h3 mat-line>Grupo invitado</h3>
          <p mat-line>
            <span>{{this.invitedsFormGroup.controls?.groupName?.value}}</span>
          </p>
        </mat-list-item>
      </mat-list>
    </mat-card>
    <div>
      <button mat-button matStepperPrevious>Atrás</button>
      <button mat-flat-button color="accent" (click)="postData()">Crear evento</button>
    </div>
  </mat-step>
</mat-horizontal-stepper>
