<mat-toolbar class="animated fadeInDown fandf-navbar-color rounded-navbar">
  <button mat-mini-fab (click)="this.toggleSidebar()"
          matTooltip="Conmutar visión de la barra lateral">
    <mat-icon>settings</mat-icon>
  </button>
  <span class="righter"></span>
  <span *ngIf="this.hideButtonOnExistSession()">
    <button mat-mini-fab class="nostra-color" [matMenuTriggerFor]="menu" *ngIf="this.isMobile">
          <mat-icon>menu</mat-icon>
    </button>
    <a (click)="translate()" matTooltip="{{'Traducir'|translate}}">
      <img src="../../assets/flags/{{countryFlag}}.png" class="flag" height="45" width="45">
    </a>
    <button mat-mini-fab class="" matTooltip="Volver al inicio" routerLink="home-dashboard">
        <mat-icon>home</mat-icon>
      </button>
    <mat-menu #menu="matMenu" matTooltip="Buscar">
      <button mat-menu-item routerLink="/my-events" matTooltip="{{'Mis eventos' | translate}}">
        <mat-icon>event</mat-icon>
        <span>{{'Mis eventos' | translate}}</span>
      </button>
      <button mat-menu-item routerLink="/my-groups" matTooltip="{{'Mis grupos' | translate}}">
        <mat-icon>people</mat-icon>
        <span>{{'Mis grupos' | translate}}</span>
      </button>
      <button mat-menu-item routerLink="/my-friends" matTooltip="{{'Mis amigos' | translate}}">
        <mat-icon>face</mat-icon>
        <span>{{'Mis amigos' | translate}}</span>
      </button>
      <button mat-menu-item routerLink="/gmaps" matTooltip="{{'Restaurantes' | translate}}">
        <mat-icon>restaurant</mat-icon>
        <span>{{'Restaurantes' | translate}}</span>
      </button>
      <button mat-menu-item (click)="logout()" matTooltip="{{'Salir'|translate}}">
        <mat-icon>exit_to_app</mat-icon>
        <span>{{'Salir' | translate}}</span>
      </button>
    </mat-menu>

  </span>
</mat-toolbar>
