<div class="main-div">
  <form [formGroup]="loginFormControl">
    <mat-card class="example-card center animated fadeInUp">
      <mat-card-header class="background-header">
        <img mat-card-image src="../../assets/food-provisional-logo.png" height="92" width="420">
      </mat-card-header>

      <mat-card-content>
        <mat-icon>lock</mat-icon>
        <mat-input-container>
          <input matInput placeholder="Nombre de usuario" type="text" formControlName="username">
        </mat-input-container>
        <br>
        <mat-icon>remove_red_eye</mat-icon>
        <mat-input-container>
          <input matInput placeholder="Contraseña" type="password" formControlName="password">
        </mat-input-container>
        <br>
        <button mat-raised-button class="login-button" (click)="this.onLoginAccess()">
          <mat-icon>input</mat-icon>
          Entrar
        </button>
        <br>
        <br>
        <button style="background-color: #ff4081;" [routerLink]="['/register']">¿No tienes cuenta? Regístrate aquí
        </button>
      </mat-card-content>
    </mat-card>
  </form>
</div>
<app-footer></app-footer>
