<section class="section-wrapper bg-groups">
  <span data-text="" class="dashed-shadow hello">{{'Grupos'|translate}}</span>
  <div class="w3-container">
    <div class="">
      <button mat-mini-fab class="w3-button w3-left" (click)="leftscroll()">
        <mat-icon>keyboard_arrow_left</mat-icon>
      </button>
      <button mat-mini-fab class="w3-button w3-right" (click)="rightscroll()">
        <mat-icon>keyboard_arrow_right</mat-icon>
      </button>
    </div>
  </div>
  <mat-divider></mat-divider>
  <div class="card" id="groups_cards">
    <app-logospinner *ngIf="isLoading"></app-logospinner>
    <div class="card--content" id="content" *ngFor="let group of myGroups">
      <mat-card class="example-card">
        <mat-card-header>
          <ngx-avatar value="{{group.users.length}}" bgColor="#546e7a"></ngx-avatar>
          <mat-card-title>{{group.name}}</mat-card-title>
          <mat-card-subtitle>{{parseUnixTimeToStr(group.dateOfCreation)}}</mat-card-subtitle>
        </mat-card-header>
        <img src="{{group.image}}" mat-card-image *ngIf="validateImg(group.image); else defaultImg">
        <ng-template #defaultImg>
          <img src="http://icons.iconarchive.com/icons/blackvariant/button-ui-system-folders-drives/1024/Group-icon.png"
               class="rounded-img" mat-card-image>
        </ng-template>
        <mat-card-content>
          <div class="overlay">
            <div class="text">Descripción {{group.description}}
            </div>
            <div class="subtext">
              Creado por {{group.createdBy}}
            </div>
          </div>
        </mat-card-content>
        <mat-card-actions>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</section>
