.rounded-img {
  display: block;
  width: 250px;
  height: auto;
  margin: 1em auto;
  background-size: cover;
  background: no-repeat center center;
  -webkit-border-radius: 99em;
  -moz-border-radius: 99em;
  border-radius: 99em;
  border: 5px solid #eee;
  box-shadow: 0 3px 2px rgba(0, 0, 0, 0.3);
  text-align: center;

}

.text {
  color: white;
  font-size: 18px;
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.subtext {
  color: white;
  font-size: 18px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.overlay {
  position: absolute;
  border-radius: 25px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #008CBA;
}

.card--content:hover .overlay {
  opacity: 1;

}

.example-card {
  max-width: 500px;
}

.example-header-image {
  background-size: cover;
}


.card::-webkit-scrollbar {
  display: none;
}

.card--content {
  /*Esto es lo que da la anchura al contenido*/
  min-width: 300px;
  margin: 5px;
  border-radius: 25px;


}

.section-wrapper {
  border-radius: 25px;
  /*border: solid #4eb8dd;*/
  /*background-color: #4eb8dd;*/
}

.lobster {
  font-family: Lobster, sans-serif;
}

.example-card {
  border-radius: 25px;
  max-width: 500px;
  height: 100%;
}

.example-header-image {
  background-size: cover;
}

.dashed-shadow {
  position: relative;
  top: 8px;
  left: 8px;
  display: inline-block;
  color: #eeeeee;
}

.dashed-shadow:before {
  content: " ";
  display: block;
  position: absolute;
  top: -8px;
  left: -8px;
  bottom: -2px;
  right: -2px;
}

.dashed-shadow:hover:before {
  animation: dash-animation 30s infinite linear;
}

.hello {
  font-family: 'Cookie', cursive;
  font-size: 50pt;
  cursor: pointer;
}

.card {
  display: flex;
  background-color: #C4D9EB;
  min-width: 150px;
  min-height: 150px;
  overflow-x: auto;
  margin: 5px;
  border-radius: 25px;

}

.card::-webkit-scrollbar {
  display: none;
}

.card--content {
  /*Esto es lo que da la anchura al contenido*/
  min-width: 300px;
  margin: 5px;
}

.lobster {
  font-family: Lobster, sans-serif;
}


