<div class="main_div">
  <mat-card class="card animated fadeInUp">
    <mat-card-header>
      <h1><mat-icon class="group_icon">supervisor_account</mat-icon>&nbsp;&nbsp;&nbsp;&nbsp;Crear grupo</h1>
    </mat-card-header>
    <mat-card-content>
      <form [formGroup]="createFrom">
        <table style="width: 100%">
          <tr>
            <td class="button_site">
              <span *ngIf="is_image_upload;then y else n"></span>
              <ng-template #n>
                <button class="upload_button" mat-button (click)="handle_upload()">
                  <mat-icon>file_upload</mat-icon>
                  Subir foto
                </button>
              </ng-template>
              <ng-template #y>
                <img id='group_img' src="" class="group_img" (click)="handle_upload()"/>
              </ng-template>
              <input id="upload" type="file" style="display: none" formControlName="imageBeforeUpload"
                     (change)="before_upload_image()">

            </td>
            <td><mat-label>Nombre (*)</mat-label>
              <br>
              <mat-form-field hintLabel="Min: 2 caracteres">
                <input matInput id="groupname" name="groupname" #groupNameInput formControlName="groupname">
                <mat-hint align="end">{{groupNameInput.value?.length || 0}}/35</mat-hint>
              </mat-form-field>
            </td>
          </tr>
        </table>
        <mat-label>Descripcion</mat-label><br>
        <mat-form-field class="input_area_class" hintLabel="Max: 140 caracteres">
          <textarea class="text_area_heigth" matInput  #descriptionInput formControlName="description"></textarea>
          <mat-hint align="end">{{descriptionInput?.value?.length || 0}}/140</mat-hint>
          <br>
        </mat-form-field><br><br>
        <mat-label>Participantes (*)</mat-label><br>
        <mat-form-field class="input_area_class">
          <textarea class="text_area_heigth" matInput formControlName="members" readonly></textarea><br>
        </mat-form-field><br>
        <mat-label>Buscar amigos</mat-label><br>
        <mat-form-field class="input_area_class" hintLabel="Min: 1 participante">
          <input type="text" matInput [formControl]="myControl" [matAutocomplete]="auto">
          <mat-autocomplete #auto="matAutocomplete" (optionSelected)="new_friend()">
            <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
              {{ option }}
            </mat-option>
          </mat-autocomplete>
          <br>
        </mat-form-field><br><br>
        <div id="privacy_select">
        <mat-label>Selecciona la privacidad del grupo</mat-label><br>
         <table width="100%">
           <tr>
             <td>
               <mat-form-field>
                 <mat-select [(value)]="selectedValue" name="privacy" (change)="change_privacy()">
                   <mat-option value="private">Privado</mat-option>
                   <mat-option value="public">Público</mat-option>
                 </mat-select>
               </mat-form-field>
             </td>
             <td>
               <div id="privacy">

                 <span *ngIf="closedGroup; then c1 else c2"></span>
                   <ng-template #c1>
                     <mat-card>
                       <mat-card-header>
                         <mat-icon>lock</mat-icon>&nbsp;&nbsp;&nbsp;&nbsp;Grupo privado
                       </mat-card-header>
                       <mat-card-content>
                         Solo el propietario del grupo puede invitar a otros usuarios.
                       </mat-card-content>
                     </mat-card>
                   </ng-template>
                   <ng-template #c2>
                     <mat-card>
                       <mat-card-header>
                         <mat-icon>language</mat-icon>&nbsp;&nbsp;&nbsp;&nbsp;Grupo público
                       </mat-card-header>
                       <mat-card-content>
                         Cualquier usuario puede encontrar el grupo y solicitar unirse.
                       </mat-card-content>
                     </mat-card>
                   </ng-template>

               </div>
             </td>
           </tr>
         </table>
        </div>
        <br>
        <div class="create_button_site">
          <button class="create_button" type="submit" [disabled]="createFrom.invalid" mat-flat-button
                  (click)="createGroup()">Crear
          </button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>
