<mat-horizontal-stepper linear="true" #stepper>
  <mat-step [stepControl]="infoFormGroup">
    <form [formGroup]="infoFormGroup">
      <ng-template matStepLabel>{{'Información'|translate}}</ng-template>
      <mat-form-field>
        <input matInput #groupNameInput placeholder="{{'Nombre del grupo'|translate}}"
               formControlName="groupName" required maxlength="35">
        <mat-hint align="end">{{groupNameInput.value?.length || 0}}/35</mat-hint>
        <mat-error *ngIf="infoFormGroup.controls.groupName.invalid">
          {{'Nombre en blanco'|translate}}
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput #descNameInput placeholder="{{'Descripción'|translate}}" formControlName="description" required>
        <mat-hint align="end">{{descNameInput.value?.length || 0}}/140</mat-hint>
        <mat-error *ngIf="infoFormGroup.controls.description.invalid">
          {{'Descripción en blanco'|translate}}
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="{{'Url de la foto'|translate}}" formControlName="photoUrl">
      </mat-form-field>
      <div>
        <button mat-flat-button matStepperNext [disabled]="infoFormGroup.invalid">{{'Siguiente'|translate}}</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="infoFormGroup">
    <form [formGroup]="infoFormGroup">
      <ng-template matStepLabel>{{'Amigos'|translate}}</ng-template>
      <mat-form-field class="demo-chip-list">
        <mat-chip-list #chipList>
          <mat-chip
            *ngFor="let fruit of fruits"
            [selectable]="selectable"
            [removable]="removable"
            (remove)="remove(fruit)">
            {{fruit}}
            <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
          </mat-chip>
          <input
            placeholder="{{'Amigos'|translate}}"
            #fruitInput
            [formControl]="fruitCtrl"
            [matAutocomplete]="auto"
            [matChipInputFor]="chipList"
            [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
            [matChipInputAddOnBlur]="addOnBlur"
            (matChipInputTokenEnd)="add($event)"
          />
        </mat-chip-list>
        <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
          <mat-option *ngFor="let fruit of filteredFruits | async" [value]="fruit">
            {{ fruit }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </form>
    <div>
      <button mat-button matStepperPrevious>{{'Atrás'|translate}}</button>
      <button mat-flat-button [disabled]="fruits.length === 0" matStepperNext>{{'Siguiente'|translate}}</button>
    </div>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>{{'Resumen'|translate}}</ng-template>
    <mat-card class="z-depth-3">
      <mat-list>
        <mat-list-item>
          <mat-icon>mode_edit</mat-icon>
          <h3 mat-line>{{'Nombre del grupo'|translate}}</h3>
          <p mat-line>
            <span>{{this.infoFormGroup.controls?.groupName?.value}}</span>
          </p>
        </mat-list-item>

        <mat-list-item>
          <mat-icon>insert_comment</mat-icon>
          <h3 mat-line>{{'Descripción'|translate}}</h3>
          <p mat-line>
            <span>{{this.infoFormGroup.controls?.description?.value}}</span>
          </p>
        </mat-list-item>

        <mat-list-item>
          <img mat-card-avatar *ngIf="validateImg(this.infoFormGroup.controls?.photoUrl?.value); else defaultImg"
               src="{{this.infoFormGroup.controls?.photoUrl?.value}}">
          <ng-template #defaultImg>
            <img mat-card-avatar src="../../../../assets/logo/fandflogo.png">
          </ng-template>
          <h3 mat-line>{{'Url de la foto'|translate}}</h3>
          <p mat-line>
            <a href="{{this.infoFormGroup.controls?.photoUrl?.value}}" target="_blank">{{this.infoFormGroup.controls?.photoUrl?.value}}</a>
          </p>
        </mat-list-item>
        <mat-list-item>
          <div *ngFor="let f of fruits">
            <mat-chip-list>
              <mat-chip>
                {{f}}
              </mat-chip>
            </mat-chip-list>

          </div>

        </mat-list-item>
      </mat-list>
    </mat-card>
    <div>
      <button mat-button matStepperPrevious>{{'Atrás'|translate}}</button>
      <button mat-flat-button color="accent" [swal]="postNewGroupSwal" (confirm)="postNewGroup()"
      >{{'Crear grupo'|translate}}
      </button>
    </div>
  </mat-step>
</mat-horizontal-stepper>
<swal
  #postNewGroupSwal
  title="¿Quieres crear el grupo {{this.infoFormGroup.controls.groupName.value}}?"
  type="info"

  [showCancelButton]="true">
</swal>
