<div class="wrapper" *ngIf="sessionExists(); else loginScreen">
  <!-- Sidebar Holder -->
  <nav id="sidebar">
    <div class="sidebar-header item">

    </div>
    <a routerLink="/my-profile">
      <img src="../../assets/avatar.svg" height="auto" width="128" class="rounded-img center-img">
    </a>
    <a routerLink="/my-profile">
      <h3 class="deepshadow">{{username}}</h3>
    </a>
    <ul class="list-unstyled components">
      <p>{{'Menú'|translate}}</p>
      <li class="active">
        <a routerLink="home-dashboard">Home</a>
      </li>
      <li>
        <a routerLink="my-events">{{'Mis eventos' | translate}}</a>
        <a>{{'Mis grupos' | translate}}</a>
      </li>
      <li>
        <a>{{'Mis amigos'|translate}}</a>
      </li>
      <li>
        <a routerLink="gmaps">{{'Restaurantes'|translate}}</a>
      </li>
    </ul>

    <ul class="list-unstyled CTAs">
      <li><a class="download" href="#" color="primary" (click)="logout()">{{'Salir'|translate}}</a></li>
    </ul>
  </nav>

  <!-- Page Content Holder -->
  <div id="content">
    <app-navbar *ngIf="this.sessionExists()"></app-navbar>
    <router-outlet></router-outlet>
  </div>
</div>
<ng-template #loginScreen>
  <router-outlet></router-outlet>
</ng-template>
