<div class="wrapper" *ngIf="sessionExists(); else loginScreen">
  <!-- Sidebar Holder -->
  <nav id="sidebar">
    <div class="sidebar-header">
      <h3 [routerLink]="['events']">{{username}}</h3>
    </div>

    <ul class="list-unstyled components">
      <p>Dummy Heading</p>
      <li class="active">
        <a href="#" data-toggle="collapse" aria-expanded="false">Home</a>
        <ul class="collapse list-unstyled" id="homeSubmenu">
          <li><a href="#">Home 1</a></li>
        </ul>
      </li>
      <li>
        <a href="#">About</a>
        <a href="#" data-toggle="collapse" aria-expanded="false">Pages</a>
        <ul class="collapse list-unstyled" id="pageSubmenu">
          <li><a href="#">Page 1</a></li>
        </ul>
      </li>
      <li>
        <a href="#">Portfolio</a>
      </li>
      <li>
        <a href="#">Contact</a>
      </li>
    </ul>

    <ul class="list-unstyled CTAs">
      <li><a class="download">Download source</a></li>
    </ul>
  </nav>

  <!-- Page Content Holder -->
  <div id="content">
    <app-navbar *ngIf="this.sessionExists()"></app-navbar>
    <router-outlet></router-outlet>
  </div>
</div>
<ng-template #loginScreen>
  <router-outlet></router-outlet>
</ng-template>
