<div class="wrapper" *ngIf="sessionExists(); else loginScreen">
  <!-- Sidebar Holder -->
  <nav id="sidebar">
    <div class="sidebar-header item">

    </div>
    <a routerLink="/my-profile">
      <img src="../../assets/avatar.svg" height="auto" width="128" class="rounded-img center-img">
    </a>
    <a routerLink="/my-profile">
      <h3 class="deepshadow">{{username}}</h3>
    </a>
    <ul class="list-unstyled components">
      <!--<li class="active">-->
      <li class="">
        <a routerLink="home-dashboard">
          <mat-icon>home</mat-icon>
          Home
        </a>
      </li>
      <li>
        <a routerLink="my-events">
          <mat-icon>events</mat-icon>
          {{'Mis eventos' | translate}}
        </a>
      </li>
      <li>
        <a routerLink="my-groups">
          <mat-icon>groups</mat-icon>
          {{'Mis grupos' | translate}}</a>
      </li>
      <li>
        <a>
          <mat-icon>contacts</mat-icon>
          {{'Mis amigos'|translate}}</a>
      </li>
      <li>
        <a routerLink="gmaps">
          <mat-icon>restaurants</mat-icon>
          {{'Restaurantes'|translate}}</a>
      </li>
    </ul>

    <ul class="list-unstyled CTAs">
      <li><a class="download" href="#" color="primary" (click)="logout()">{{'Salir'|translate}}</a></li>
    </ul>
  </nav>

  <!-- Page Content Holder -->
  <div id="content">
    <app-navbar *ngIf="this.sessionExists()"></app-navbar>
    <router-outlet></router-outlet>
  </div>
</div>
<ng-template #loginScreen>
  <router-outlet></router-outlet>
</ng-template>
