<br>
<input type="text" name="search" placeholder="{{'Filtrar grupos' |translate}}" #searchInput
       (keyup)="filterElems(searchInput.value.toLocaleLowerCase())">
<strong class="styled-p">{{numMatches}} {{'coincidencias'|translate}}</strong>


<div class="my-grid" id="myUL" *ngIf="groupList.length > 0; else empty">
  <div class="box" *ngFor="let group of groupList">
    <div class="animated flipInY">
      <div class="card-container manual-flip" #Card>
        <div class="card">
          <div class="front">
            <img src="../../assets/events/{{group.headerImg}}" class="blur-me"/>
            <!--<img  src="{{group.image}}" class="blur-me"/>-->
            <div class="user">
              <img class="img-circle" src="{{group.image}}"/>
            </div>
            <div class="content">
              <div class="main">
                <h3 class="name">{{group.name}}</h3>
                <p class="profession"></p>

                <p class="text-center" style="font-size: small">{{group.description}}</p>
              </div>
              <div class="footer">
                <div class="rating">
                  <i class="fa fa-mail-forward">
                    <button class="btn btn-simple" (click)="rotateCard(Card)">
                      <i class="fa fa-mail-forward"></i>Más
                    </button>
                  </i>
                </div>
              </div>
            </div>
          </div> <!-- end front panel -->
          <div class="back">
            <div class="header">
              <h5 class="motto">Creado por <strong>{{group.createdBy}}</strong></h5>
            </div>
            <div class="content">
              <div class="main">
                <div *ngIf="group.users.length <= 3; else numUsers">
                  <h4 class="text-center">Miembros</h4>
                  <div *ngFor="let u of group.users">
                  <span>
                    {{u}}
                  </span>
                  </div>
                </div>
                <ng-template #numUsers>
                  <p class="motto">Número de usuarios</p>
                  <ngx-avatar value="{{group.users.length}}"></ngx-avatar>
                  <span class="motto">Creado el {{parseUnixTime(group.dateOfCreation, true)}}</span>
                </ng-template>


              </div>
            </div>
            <div class="footer">
              <i class="fa fa-mail-forward">
                <button class="btn btn-simple" (click)="rotateCard(Card)">
                  <i class="fa fa-mail-forward"></i>Menos
                </button>
              </i>
            </div>
          </div> <!-- end back panel -->
        </div> <!-- end card -->
      </div>
    </div>
  </div>
</div>
<ng-template #empty>
  <h1>{{'Cargando...'|translate}}</h1>
  <div id="cooking">
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div id="area">
      <div id="sides">
        <div id="pan"></div>
        <div id="handle"></div>
      </div>
      <div id="pancake">
        <div id="pastry"></div>
      </div>
    </div>
  </div>
</ng-template>
