<div>
  <div class="mat-title" style="text-align: center">
    <h3><mat-icon class="restaurant_icon">local_dining</mat-icon>&nbsp;&nbsp;Consultar Restaurantes</h3>
  </div>
  <div style="text-align: center">

    <mat-form-field>
        <input matInput ngx-google-places-autocomplete [options]="{types: ['establishment'],componentRestrictions:{country:'ES'}}" #placesRef="ngx-places" (onAddressChange)="onChange($event)" placeholder="Ubicación">
        <mat-icon matSuffix>search</mat-icon>
      </mat-form-field>

  </div>
  <div class="info_card">
  <mat-card class="example-card animated fadeInUp">
      <mat-card-header>
        <table style="width: 100%">
          <tr>
            <td><h1><mat-icon class="info_icon">info</mat-icon>&nbsp;&nbsp;Información general</h1></td>
            <td style="text-align: right"><span *ngFor="let star of stars"><mat-icon class="star_icon">star_rate</mat-icon></span></td>
          </tr>
        </table>
        </mat-card-header>
      <mat-card-content>
        <table style="width: 100%">
          <tr>
            <td><mat-icon>restaurant</mat-icon>&nbsp;&nbsp;Nombre</td>
            <td><span *ngIf="empty_periods; then co1 else co2"></span><ng-template #co2><mat-icon>schedule</mat-icon>&nbsp;&nbsp;Horario</ng-template></td>
          </tr>
          <tr>
            <td><mat-form-field>
              <input matInput value="{{this.tempAddress?.name}}" readonly>
            </mat-form-field></td>
            <td><span *ngIf="empty_periods; then cd1 else cd2"></span><ng-template #cd2>De {{this.period_one[0][0]}} a {{this.period_one[this.period_one.length-1][0]}}: {{this.period_one[0][1]}}</ng-template></td>
          </tr>
          <tr>
            <td><mat-icon>phone</mat-icon>&nbsp;&nbsp;Teléfono</td>
            <td><span *ngIf="is_two_empty; then c1 else c2"></span>
              <ng-template #c2><span *ngIf="only_one; then cn1 else cn2"></span><ng-template #cn1>{{this.period_two[0][0]}}:{{this.period_two[0][1]}}</ng-template>
                <ng-template #cn2>De {{this.period_two[0][0]}} a {{this.period_two[this.period_two.length-1][0]}}:{{this.period_two[0][1]}}</ng-template></ng-template></td>
          </tr>
          <tr>
            <td colspan="2"><mat-form-field>
              <input matInput value="{{this.phone}}" readonly>
            </mat-form-field></td>
          </tr>
          <tr>
            <td colspan="2"><mat-icon>book</mat-icon>&nbsp;&nbsp;Estado actual<br></td>
          </tr>
          <tr>
            <td colspan="2"><mat-form-field>
              <input matInput value="{{this.state}}" readonly>
            </mat-form-field></td>
          </tr>
          <tr>
            <td colspan="2"><mat-icon>room</mat-icon>&nbsp;&nbsp;Dirección</td>
          </tr>
        </table>
        <textarea matInput value="{{this.tempAddress?.formatted_address}}" readonly></textarea>
      </mat-card-content>
    </mat-card>
  </div>

  <br><br>
  <div class="comment_panel">
    <mat-card class="example-card animated fadeInUp">

      <mat-card-header><mat-icon class="comment_icon">comment</mat-icon>&nbsp;&nbsp;&nbsp;&nbsp;<h1>Comentarios</h1></mat-card-header>
      <mat-card-content>
        <mat-accordion>
          <span *ngFor="let review of this.tempAddress?.reviews">
      <mat-expansion-panel class="panel">

        <mat-expansion-panel-header>
          <mat-panel-title>
            {{review.author_name}}
          </mat-panel-title>
          <mat-panel-description>

          </mat-panel-description>
        </mat-expansion-panel-header>

        {{review.text}}

      </mat-expansion-panel>
      </span>
        </mat-accordion>
      </mat-card-content>
    </mat-card>
  </div>
</div>
