.example-card {
  max-width: 800px;
  width: 100%;
}

.search-box {
  width: 80%;
}

.info_card{
  display: flex;
  justify-content: center;
  align-items: center;
}

.star_icon{
  color: yellow;
}

.info_icon{
  font-size: 36px;
  color: blue;
}

.comment_panel{
  display: flex;
  justify-content: center;
  align-items: center;
}

.panel{
  max-width: 800px;
  width: 100%;
}

.comment_icon{
  font-size: 36px;
}
.restaurant_icon{
  font-size: 36px;
}



