<mat-form-field>
  <mat-select placeholder="Dia de la semana" [(ngModel)]="selectedValue">
    <mat-option *ngFor="let day of week" [value]="day.value">
      {{ day.viewValue }}
    </mat-option>
  </mat-select>
</mat-form-field>
<br>
Dia elegido: {{selectedValue}}
<br>
<input ngx-google-places-autocomplete [options]="{types: ['establishment'],componentRestrictions:{country:'ES'}}" #placesRef="ngx-places" (onAddressChange)="onChange($event)">
<p>Informacion del restaurante:<br>
  Nombre: {{this.tempAddress?.name}}<br>
  Direccion completa: {{this.tempAddress?.formatted_address}}<br>
  Telefono: {{this.tempAddress?.formatted_phone_number}}<br>
  Número de comentarios: {{this.tempAddress?.reviews?.length}}<br>
  Primer comentario realizado:<br>
  Autor: {{this.tempAddress?.reviews[0]?.author_name}}<br>
  Comentario:<br>{{this.tempAddress?.reviews[0]?.text}}<br>
  Opening now: {{this.tempAddress?.opening_hours?.open_now}}<br>
  Horario:<br>
  {{this.tempAddress?.opening_hours?.weekday_text.toLocaleString()}}
</p>
