
input[type=text] {
  width: 100%;
  border-radius: 25px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}

.rounded-img {
  display: block;
  width: 250px;
  height: 250px;
  margin: 1em auto;
  background-size: cover;
  background: no-repeat center center;
  -webkit-border-radius: 99em;
  -moz-border-radius: 99em;
  border-radius: 99em;
  border: 5px solid #eee;
  box-shadow: 0 3px 2px rgba(0, 0, 0, 0.3);
}

.example-card {
  max-width: 500px;
}

.card {
  display: flex;
  background-color: #fff;
  min-width: 150px;
  min-height: 150px;
  overflow-x: auto;
  margin: 5px;
}

.card::-webkit-scrollbar {
  display: none;
}

.card--content {
  /*Esto es lo que da la anchura al contenido*/
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 300px;
  margin: 5px;
}

.section-wrapper {
  border-radius: 25px;
  /*border: solid #4eb8dd;*/
  /*background-color: #4eb8dd;*/
}

.lobster {
  font-family: Lobster, sans-serif;
}

.example-card {
  max-width: 500px;
  border-radius: 25px;
}

.example-header-image {
  background-size: cover;
}

.hello {
  font-family: 'Cookie', cursive;
  font-size: 50pt;
}

.card {
  display: flex;
  background-color: #999999;
  min-width: 150px;
  min-height: 150px;
  overflow-x: auto;
  margin: 5px;
  border-radius: 25px;
}

.card::-webkit-scrollbar {
  display: none;
}

.card--content {
  /*Esto es lo que da la anchura al contenido*/
  min-width: 300px;
  margin: 5px;
}

.lobster {
  font-family: Lobster, sans-serif;
}

.profile_button {
  padding: 3px;
  background: red;
  color: white;
}

.add_button {
  padding: 3px;
  background: blue;
  color: white;
}

.my-grid {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 60px;
}

.friend {
  background-color: #69FF40;
}

.notAcceptedByMe {
  background-color: hotpink;
}

.notAcceptedByTheUser {
  background-color: #6d7fcc;
}

.notFriend {
  background-color: #999999;
}

.actionnotFriend {
  background-color: #b1ff9a;
  border-radius: 25px;
}

.actionfriend {
  background-color: #abcdff;
  border-radius: 25px;
}

.actionnotAcceptedByMe {
  background-color: #c461ff;
  border-radius: 25px;
}

.actionnotAcceptedByTheUser {
  background-color: #ff7b5e;
  border-radius: 25px;
}





