.example-card {
  max-width: 500px;
}

.example-header-image {
  background-size: cover;
}

.card {
  display: flex;
  background-color: #fff;
  min-width: 150px;
  min-height: 150px;
  overflow-x: auto;
  margin: 5px;
}

.card::-webkit-scrollbar {
  display: none;
}

.card--content {
  background-color: #e74c3c;
  /*Esto es lo que da la anchura al contenido*/
  min-width: 300px;
  margin: 5px;
}

.section-wrapper {
  border-radius: 25px;
  border: solid #7c4dff;
  background-color: #7c4dff;
}

.lobster {
  font-family: Lobster, sans-serif;
}

