<section class="section-wrapper">
  <!--<h2 class="lobster">Eventos</h2>-->
  <span data-text="" class="dashed-shadow hello">{{'Eventos'|translate}}</span>
  <div class="w3-container">
    <div class="">
      <button mat-mini-fab class="w3-button w3-left" (click)="leftscroll()">
        <mat-icon>keyboard_arrow_left</mat-icon>
      </button>
      <button mat-mini-fab class="w3-button w3-right" (click)="rightscroll()">
        <mat-icon>keyboard_arrow_right</mat-icon>
      </button>
    </div>
  </div>
  <mat-divider></mat-divider>
  <div class="card" id="events_cards">
    <div class="card--content">
      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <div class="example-header-image" style="left: 50px;">
            <mat-icon>favorite</mat-icon>
          </div>
          <mat-card-title>Nombre evento</mat-card-title>
          <mat-card-subtitle>subt.</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="../../assets/card-bg.jpg" height="250" width="500">
        <mat-card-content>
          <p>
            bla bla bla
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-mini-fab style="background-color: #f44336"></button>
          <button mat-mini-fab style="background-color: #ffa000"></button>
          <button mat-mini-fab style="background-color: #4caf50"></button>
        </mat-card-actions>
      </mat-card>
    </div>
    <div class="card--content">
      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Nombre evento</mat-card-title>
          <mat-card-subtitle>subt.</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="../../assets/card-bg.jpg" height="250" width="500">
        <mat-card-content>
          <p>
            bla bla bla
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-mini-fab style="background-color: #f44336"></button>
          <button mat-mini-fab style="background-color: #ffa000"></button>
          <button mat-mini-fab style="background-color: #4caf50"></button>
        </mat-card-actions>
      </mat-card>
    </div>
    <div class="card--content">
      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Nombre evento</mat-card-title>
          <mat-card-subtitle>subt.</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="../../assets/card-bg.jpg" height="250" width="500">
        <mat-card-content>
          <p>
            bla bla bla
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-mini-fab style="background-color: #f44336"></button>
          <button mat-mini-fab style="background-color: #ffa000"></button>
          <button mat-mini-fab style="background-color: #4caf50"></button>
        </mat-card-actions>
      </mat-card>
    </div>
    <div class="card--content">
      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Nombre evento</mat-card-title>
          <mat-card-subtitle>subt.</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="../../assets/card-bg.jpg" height="250" width="500">
        <mat-card-content>
          <p>
            bla bla bla
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-mini-fab style="background-color: #f44336"></button>
          <button mat-mini-fab style="background-color: #ffa000"></button>
          <button mat-mini-fab style="background-color: #4caf50"></button>
        </mat-card-actions>
      </mat-card>
    </div>
    <div class="card--content">
      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Nombre evento</mat-card-title>
          <mat-card-subtitle>subt.</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="../../assets/card-bg.jpg" height="250" width="500">
        <mat-card-content>
          <p>
            bla bla bla
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-mini-fab style="background-color: #f44336"></button>
          <button mat-mini-fab style="background-color: #ffa000"></button>
          <button mat-mini-fab style="background-color: #4caf50"></button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</section>
