<section class="section-wrapper bg-events">
  <!--<h2 class="lobster">Eventos</h2>-->
  <span class="dashed-shadow hello">{{'Eventos'|translate}}
  </span>
  <div class="w3-container">
    <div>
      <button mat-mini-fab class="w3-button w3-left" (click)="leftscroll()">
        <mat-icon>keyboard_arrow_left</mat-icon>
      </button>
      <button mat-mini-fab class="w3-button w3-right" (click)="rightscroll()">
        <mat-icon>keyboard_arrow_right</mat-icon>
      </button>
    </div>
  </div>
  <mat-divider></mat-divider>
  <div class="card" id="events_cards">
    <app-logospinner *ngIf="isLoading; else dataEvents"></app-logospinner>
    <ng-template #dataEvents>
      <div class="card--content" *ngFor="let event of eventList">
        <mat-card class="example-card">
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <div class="example-header-image" style="left: 50px;">
            </div>
            <mat-card-title>{{event.name}}</mat-card-title>
            <mat-card-subtitle>{{event.date}}</mat-card-subtitle>
          </mat-card-header>
          <img mat-card-image src="{{event.image}}" height="250" width="500"
               *ngIf="validateImg(event.image); else defaultImg">
          <ng-template #defaultImg>
            <img mat-card-image src="../../../assets/logo/fandflogo.png" height="250" width="500">
          </ng-template>
          <mat-card-content>
            {{event.description}}
          </mat-card-content>
          <mat-card-actions>
            <button mat-mini-fab="" style="background-color: limegreen" matTooltip="Google Maps">
              <a href="https://www.google.com/maps/place/?q=place_id:{{event.placeId}}" target="_blank">
                <mat-icon>place</mat-icon>
              </a>
            </button>
          </mat-card-actions>
        </mat-card>
      </div>
    </ng-template>
  </div>
</section>
